<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}tv{% endblock %}</title>
   
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
{% include 'product/navbar.html' %}


{% block content %}


{% endblock %}

{% include 'product/footer.html' %}
<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
</body>
</html>
