{% extends 'product/base.html' %}
{% load static %}
{% block title %}
    tv
{% endblock %}

{% block content %}
<style type="text/css">
	@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}
div.a {
  text-align: center;
}
</style><div>
<div id="slider">
<figure>{% for i in categories %}
<a href="{{ i.get_absolute_url }}"><img src="{% if i.image_slid %}{{i.image_slid.url}}{% endif %}" alt></a>
{% endfor %}
</figure>
</div>
</div>
</div>
<div>
  <div class="container">
    <div class="row">
    {% for i in prices %}
    <div class="col-lg-2 col-sm-4 col-xs-4 a" style="background-color:white;">
     <a href="{{ i.get_absolute_url_price}}"><button>{{i.price_range}}</button></a></div>
    {% endfor %}
    </div>
  </div>
<div class="container-fluid">
   
  <div class="row">
    {% for p in theme %}
    <div class="col-lg-2 col-sm-4 col-xs-4 a" style="background-color:white;">
    <a href="{{ p.get_absolute_url_them}}"> <img src="{% if p.image %}{{p.image.url}}{% endif %}" style="width:50%;height: auto; padding-left: 5px; position:center:"></a><br><h style="position: center" >{{p.name}}</h>
    </div>
     {% endfor %}
  </div>

 
</div>
</div>
    
{% endblock %}



