<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}tv{% endblock %}</title></head>
    <body>
      {% include 'product/navbar.html' %}
    {% for i in cntnts1 %}
   <a href="{{ i.get_absolute_url_p }}"> <img src="{{i.image.url}}"style="height: 130px; width: auto"></a>
   
   {% endfor %}
   <h1>the work show for block</h1>
   {% for j in cntnts %}
   <a href="{{ j.get_absolute_url_sub_product }}"> <img src="{{j.image.url}}"style="height: 130px; width: auto"></a>
   {% endfor %}
</body>
</html>